

<nav>
 <!--<a routerLink="./register" routerLinkActive="active">Page1</a>-->
   <a routerLink="./home" routerLinkActive="active"></a>
  <!--<a routerLink="./useractivity" routerLinkActive="active">Page2</a>
  <a routerLink="./loop" routerLinkActive="active">Loop</a>-->
  
</nav>

<router-outlet></router-outlet>