#sidenav {
  min-width: 200px;
  
}

  .icon {
    float: right;
  }



  md-sidenav.md-sidenav-closed {
    visibility: visible;
    transform: translate3d(-80%, 0, 0);
  }

  md-sidenav.md-sidenav-closing {
    transform: translate3d(-80%, 0, 0);
  }