<md-sidenav-layout>
  <md-sidenav id="sidenav" #start mode="slide">
    <md-nav-list dense>
      <div md-list-link>
        Menu item 1
        <div class='icon'>icon</div>
      </div>
      <div md-list-link>
        Menu item 2
        <div class='icon'>icon</div>
      </div>
    </md-nav-list>
  </md-sidenav>
<div id="content" [@contentOffset]="contentOffsetStatus">
  my content
  <br />
  <br /> my content
  <br />
  <br /> my content
  </div>
</md-sidenav-layout>