
<!--<button (click)="now()">Test</button>-->
<!--<nav>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/authorized" routerLinkActive="active">Authorized</a>
</nav>-->

<md-sidenav-layout fullscreen>
  <md-sidenav #start mode="over">
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.close()" class="slide_close"><md-icon>menu</md-icon></button>

    </md-toolbar>
    <br>
    <md-list layout-fill layout-align="center center">
      <md-list-item>
        <h4><a [routerLink]="['/login']" class="btn btn-primary" (click)="start.toggle()">LogIn</a> </h4>
        <!--<h4><a class="btn btn-primary" (click)="start.toggle()" *ngIf="isloggedUser" (click)="logout()">LogOut</a></h4>-->
      </md-list-item>
      
       <!--<md-list-item>-->
        <!--<h4><a [routerLink]="['/login']" class="btn btn-primary" (click)="start.toggle()">LogIn</a> </h4>-->
        <!--<h4><a class="btn btn-primary" (click)="start.toggle()" *ngIf="!isloggedUser" (click)="login()" >LogIn</a></h4>-->
      <!--</md-list-item>-->
      <!--<md-list-item>
        <h4><a [routerLink]="['/authorized']" class="btn btn-primary" (click)="start.toggle()">Authorized {{title}}</a></h4>

      </md-list-item>-->
    </md-list>

  </md-sidenav>
  <md-toolbar color="primary">

    <button md-icon-button (click)="start.toggle()" class="slide_open"><md-icon>menu</md-icon></button>


    <span class="demo-fill-remaining">

      </span>

  </md-toolbar>
  <div class="demo-sidenav-content">

    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>
