  /*md-sidenav.md-sidenav-closed {
    visibility: visible;
    transform: translate3d(-80%, 0, 0);
  }

md-sidenav.md-sidenav-closed{left: 5% !important;; visibility: visible !important;}
  md-sidenav {
    position: relative;
    transform: translate3d(0, 0, 0);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    min-width: 50% !important;
    overflow-y: auto;
    background-color: white;
    transform: translate3d(-100%, 0, 0);
}
md-toolbar.md-primary{ }*/



/*md-sidenav.md-sidenav-closed {
    visibility: visible !important;
    left: 9% !important;
}

md-sidenav.md-sidenav-opened {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    left: 45% !important;
}*/

md-sidenav {
    position: relative;
    transform: translate3d(0, 0, 0);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    min-width: 40% !important;
    overflow-y: auto;
    background-color: white;
    transform: translate3d(-100%, 0, 0);
}
 
  /*md-sidenav.md-sidenav-closed {
    visibility: visible !important;
    left: 9% !important;*/
    /*background: #448;*/


  /*}
    */
 /*md-sidenav.md-sidenav-closed {
    visibility: visible !important;
    transform: translate3d(-80%, 0, 0) !important;
  }*/

  /*.slide_open{
      left: 20% !important;
  }

   .slide_close{
      left: 80% !important;
  }*/

