<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
h3 {
    color: #6f6f6f;
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
  .input-form{
    padding-top: 10px;
    padding-left:10px;
  }

  .form-group{
    padding: 10px;
    margin-bottom: 10px;
  }

  input {
     line-height: 2em; 
     
     width: 500;
     margin: 0 auto;
     text-align: center;
     height: 300;
     border-bottom-color: #6f6f6f;
     border-right: 0;
     border-top: 0;
     border-left: 0;
     background: transparent;
}

  </style>
</head>

<body>

    <div class="container" style="width: 100%; height: 100%">
      <h3>Registration</h3>
          <form>
              <div class="input-form">
                  <div class="form-group">
                   
                    <input type="text" class="form-control" id="first_name" [(ngModel)]="person.first_name" name="first_name" placeholder="Enter First Name ">
                  </div>

                  <div class="form-group">
                   
                    <input type="text" class="form-control" id="last_name" [(ngModel)]="person.last_name" name="last_name" placeholder="Enter Last Name">
                  </div>

                  <div class="form-group">
                    
                    <input type="text" class="form-control" id="username" [(ngModel)]="person.username" name="username" placeholder="Enter Username">
                  </div>

                  <div class="form-group">
                   
                    <input type="email" class="form-control" id="email" [(ngModel)]="person.email" name="email" placeholder="Enter Mail Address">
                  </div>

                  <div class="form-group">
                    
                    <input type="password" class="form-control" id="pass" [(ngModel)]="person.password" name="password" placeholder="Enter Password">
                  </div>

                   <div class="form-group">
                    <h3> {{message}} </h3>
                  </div>

                  <div>
                    <button type="submit" (click)="registerUser()" class="btn btn-default">Submit</button>
                    <button type="submit" (click)="backToLogin()" class="btn btn-default">Back</button>
                  </div>

                 
              </div>
          </form>
    </div>

</body>

</html>