<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>


     /*body{
        margin-top: 15px;
    }*/
input {
     
     width: 300;
     margin: 0 auto;
     text-align: center;
     height: 320;
     /*border-bottom-color: #6f6f6f;*/
     border-right: 0;
     border-top: 0;
     border-left: 0;
     background: transparent;
}

#logButton{
  width: 169px;
  height: 40px;
  background-color: #ffffff;
  text-align: center;
  line-height: 1em;
  opacity: .44;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);

  
}


#username {
    padding-top: 15px;
    font-size: 16pt;
    color: white;
    height: 30px;
    width : 169px;
}

#pass {
    padding-top: 15px;
    font-size: 16pt;
    height: 30px;
    width : 169px;
    color: white;
}
#newAccount
{
   margin-top: 10px;
   
   font-size: 8pt;
   color: white;
   text-decoration:none;
   text-transform: none;
   
}

a {
   font-size: 8pt;
   color: white;
   text-decoration:none;
   text-transform: none;
}

/*body  {
    background-image: url("../electron/background.jpg");
    background-color: #cccccc;
}*/

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-top: 5px;
   
    color: red;
    font-size: 8pt;
 
}

.login-img{
	/*background: url("../electron/image_back.jpg") no-repeat;*/
  background: url("./image_back.jpg") no-repeat;
	width: 100%;
  height:536px; 
  padding: 0px;
  margin: 0px;
}


::-webkit-input-placeholder { /* Chrome */
   color:white;
   font-style:initial;
   font-size: 10pt;
}
.btn btn-default{
  text-align: center;
  
}
.login-input{
  padding-top: 150px;
  padding-left:90px;
}

.login-input .newAccount a{
  text-align: center;
}





  </style>
</head>

<body class="login-img">
  <div class="container" style="width: 100%; height: 100%">

<h2 style="padding-left: 130px;">Login</h2>

<form>
  <div class="login-input">
    <div class="form-group">
  <!--<label for="username">Username:</label>-->
       <input type="text" class="form-control" id="username" [(ngModel)]="person.username" name="username" placeholder="Enter Username">
   </div>
    <div class="form-group">
      <!--<label for="pass">Password:</label>-->
        <input type="password" class="form-control" id="pass" [(ngModel)]="person.password" name="password" placeholder="Enter Password">
    </div>

     <div class="form-group">
        <p>{{message}}<P>
    </div>


    <div>
      <button type="submit" id="logButton" (click)="getLoggedInUser()" style="text-align: center; line-height: 1em;" class="btn btn-default">Sign In</button>
      
    </div>
    <div id="newAccount">
      <a routerLink="../authorized/register" routerLinkActive="active">CREATE NEW ACCOUNT</a>
      
    </div>

</div>
</form>

</div>


<!--<div class="container">
    <h2>Login</h2>
    <form>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="person.username" name="username" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="pass">Password:</label>
        <input type="password" class="form-control" id="pass" [(ngModel)]="person.password" name="password" placeholder="Enter Password">
      </div>
      <div>
      <button type="submit" (click)="getLoggedInUser()" class="btn btn-default">SignIn</button>
      <button type="submit" class="btn btn-default"><a routerLink="../authorized/register" routerLinkActive="active">SignUp</a></button>
      </div>
    </form>
   
  </div>-->

</body>

</html>