<!doctype html>
<html>

<head>
    <style>
    li{
    margin-top: 10px;
  
}
div{
    margin-top: 10px;
}
h2 {
    color: #6f6f6f;
    text-align: center;
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3 {
    color: #16A085;
    display: block;
    font-size: 1.5em;
    text-align: center;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h4 {
    color: #16A085;
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}



.userSelect{

  padding-top: 80px;
  padding-left:100px;
}

.styled-select select {
   background-color:#EAEDED;
   width: 130px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

#logButton{

  width: 50px;
  height: 20px;
  background-color: #ffffff;
  text-align: center;
  border-right: 0;
  border-left: 0;
  line-height: 1em;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
  
}


#button1 {
float: left;
margin-right:8px;
border-right: 0;
border-left: 0;
}
#button2 {
float: left;
margin-left: 10px;
border-right: 0;
border-left: 0;
}


</style>

</head>


<body>
    <div>
        <h2>Welcome To PC Activity</h2>
    </div>

    <div>
        <!--<h2>Welcome {{username}}</h2>-->
        <h3>Hello {{user}}</h3>
    </div>
<div class="userSelect">

    <div class="form-group row">
           <label for="projectName" style="color:#566573" class="col-sm-2 control-label">User Status</label>
            <div class="styled-select">
                
                <select class="form-control" name="status" id="status" (change)="projectSelected($event.target.value)">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let prostatus of status" [value]="prostatus.name">
                                            {{prostatus.name}}
                                    </option>
                </select>
            </div>

            <div class="styled-select" *ngIf="isAtWork">
                <select class="form-control" name="projectName" id="projectName" (change)="getStatus($event.target.value)">
                                <option *ngFor="let project of projectName"  [value]="project.name">
                                        {{project.name}}
                                </option>
                </select>
            </div>
            <h4>{{message}}</h4>
            <div id="logButton">
                <button (click)="saveHistory()"id="button1">Submit</button>
                
            </div>
             <div id="logButton">
               
                <button (click)="logOut()" id="button2">Logout</button>
            </div>
            

    </div>
</div>

    <!--<div>

        <ul class="projects">
            <li *ngFor="let project of projects">
                <span class="badge">{{project.name}}</span>
            </li>
        </ul>

    </div>-->


</body>

</html>